/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */
/* My Code */

:root {
	--bg-1:        #fff;
	--bg-2: 	   #f5f5f5;
	--bright-blue: #00b3e5;
	--white:       #fff;
	--gray:   	   #4d4d4d;
	--black:       #000;
}

@font-face { font-family: 'Telex-Regular'; src: url(../fonts/Telex-Regular.ttf) format('truetype')}

* {
	font-family: 'Telex-Regular';
}

button {
	border: none;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

ol {
	counter-reset: item;
	list-style-position: inside;
}

ol li {
	counter-increment: item;
	margin-bottom: 2px;
	display: flex;
	font-weight: bold;
	color: var(--gray);
	padding: 5px;
}

ol li::after {
	content: counter(item);
	border-radius: 100%;
	color: var(--bright-blue);
	width: 1.2em;
	align-self: center;
	display: inline-block;
	padding: 10px;
	font-weight: bold;
}

a {
	text-transform: capitalize;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

#other-articles-sort-options {
	display: flex;
	justify-content: space-between;
}

#other-articles-sort-options li {
	flex-grow: 1;
	flex-shrink: 1;
	margin-right: 2px;
	margin-bottom: 2px;
}

ul > li {
	display: flex;
	justify-content: stretch;
}

#socials > li {
	display: inline;
}

#content-container {
	display: flex;
	width: 70%;
	margin: auto;
}

#content {
	display: flex;
	flex-direction: row;
	margin: auto;
}

#main {
	display: flex;
	flex-direction: column;
	width: 70%;
	background: red;
	margin-right: 10px;
}

#aside {
	display: flex;
	flex-direction: column;
	width: 30%;
	background: blue;
}

#new-scientist-icon {
	height: 3.5rem;
	width: 21.875rem;
}

#other-articles-headlines li {
	background-color: var(--bg-2);
}

.sort-button {
	background-color: var(--bg-2);
	color: var(--black);
	width: 100%;
}

.sort-button-selected {
	background-color: var(--bright-blue);
	color: var(--white);
}